name: Brain CI

on:
  push:
    paths:
      - 'nue/brain/**'
  pull_request:
    paths:
      - 'nue/brain/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: nue/brain

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint

    - name: Lint with pylint
      run: |
        pylint $(git ls-files '*.py') --disable=C0111,C0103,R0903,W0718 --fail-under=7.0
